<!DOCTYPE html>
<html>
<head>
    <title>Analytics Page</title>
</head>
<body>
    <div class="container">
        <a href="/home">Return to Home</a>
    </div>
    <h2>
        Calgary Traffic Incidents Distribution (Past Year) 
    </h2>
    <iframe src="{{ url_for('static', filename='kepler_map2.html') }}" width="100%" height="500"></iframe>
    <h2>
        Calgary Traffic Incidents Spatial Heatmap and Temporal Statistics (Past Year) 
    </h2>
    <iframe src="{{ url_for('static', filename='kepler_map.html') }}" width="100%" height="500"></iframe>
</body>
</html>

