
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/logregstyle.css') }}">
        <title>T-Tracker Register Page</title>
    </head>
    <body>
        <div class="registertopsection">
            <div id="registertoptitle">
                <h1>
                    T-Tracker
                </h1>
            </div>
        </div>
        <div class="imgcontainer">
            <img src="/static/ttlogo.jpg" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <div id="registertitle">
                <h2>
                    Register
                </h2>
            </div>
            <form action="{{ url_for('register')}}" method="post">
                <div class="form-group">
                    <input class="form-control" name="username" placeholder="Username" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
            <div id="registererror">
                {% if message %}
                    {{message}}
                {% endif %}
            </div>
        </div>
        <div class="container">
            Already have an account? <a href="/login">Login here.</a>
        </div>
    </body>
</html>